[submodule "components/esp-protocols"]
	path = components/esp-protocols
	url = https://github.com/espressif/esp-protocols.git
[submodule "components/peer/libpeer"]
	path = components/peer/libpeer
	url = https://github.com/sean-der/libpeer
